* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Grandstander', cursive;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads>div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: #60d395;
}

.pad2 {
    background: hsl(73, 53%, 48%);
}

.pad3 {
    background: hsl(202, 75%, 55%);
}

.pad4 {
    background: hsl(162, 57%, 60%);
}

.pad5 {
    background: #8ed360;
}

.pad6 {
    background: #c8e757;
}